//查看巡检单Form
.detailForm {
  width: "80%";
  margin-left: "5%";

  :global {
    .ant-input[disabled] {
      color: #000;
      background-color: #fff;
      cursor: auto;
      border: 0;
    }
    .ant-form-item {
      margin-bottom: 0;
    }
  }
}
