.ant-layout-header {
  background: #00ADF2;
  padding: 0;
}
.ant-menu-dark, .ant-menu-dark .ant-menu-sub {
  background: #00ADF2;
}
.ant-menu.ant-menu-dark .ant-menu-item-selected, .ant-menu-submenu-popup.ant-menu-dark .ant-menu-item-selected {
  background-color: #49CBFF;
}
.dropMenu {
  width: 150px;
}
.logo {
  width: 160px;
  height: 60px;
  /* background: url('../images/logo.png') no-repeat; */
  margin: 10px 10px 10px 0;
  float: left;
}

.modalTitle {
  text-align: center;
}
.modalBtn {
  width: 80px;
  margin-left: 50px;
  margin-top: 20px;
}
.input {
  margin-left: 10px;
}